<?xml version="1.0"?>

<model>
  <name>uamv0</name>
  <version>1.0</version>
  <sdf version="1.7">model_camera.sdf</sdf>

  <author>
    <name>Shaswat Garg</name>
    <email>shaswatgarg_2k19me227@dtu.ac.in</email>
  </author>

  <description>
    Flying S Robot with camera
  </description>
</model>
